<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Learning Endless</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/about_css.css" />
    
  </head>
  <body>
    <%- include("includes/header.ejs")%>

    <main class="container">
      <h2>Welcome to Your E-Learning Platform</h2>
      <p>
        Our Mission At <bold>LEARNING <span class="green">ENDLESS</span></bold
        >,<p> we are committed to fostering a culture of collaboration and
        knowledge sharing among students. Our mission is to empower students to
        reach their full potential by connecting them with knowledgeable peers
        and seniors who can provide personalized guidance and support. What We
        Offer Academic Assistance: Whether you're struggling to grasp complex
        concepts or seeking to delve deeper into a subject beyond classroom
        lectures, our platform offers one-on-one assistance from peers and
        seniors who have excelled in their academic pursuits. Career Guidance:
        Planning your career path can be daunting, but you don't have to
        navigate it alone. Our platform connects students with experienced
        seniors who can offer valuable insights, mentorship, and guidance on
        internships, placements, and skill development opportunities. Skill
        Development: In today's competitive job market, it's essential to
        continuously upskill and stay relevant. Through our platform, students
        have access to resources and mentorship to enhance their skills in
        high-demand areas, preparing them for future career success. Our Vision
        We envision a community where students support and uplift each other,
        fostering a culture of lifelong learning and professional growth. By
        leveraging the collective knowledge and experiences of our peers and
        seniors, we strive to empower every student to achieve their academic
        and career aspirations. Get Involved Join our vibrant community of
        learners and mentors today! Whether you're eager to share your
        expertise, seek guidance, or simply connect with like-minded
        individuals, [Your Website Name] is your platform for success.
        </p>
      </p>
    </main>
  <%- include("includes/footer.ejs")%>
  </body>
</html>
