body {
  font-family: "Roboto", Arial, Helvetica, Geneva, Verdana, sans-serif;
  margin-top: 100px;
  padding: 0;
  background: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

.course-details-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#courseImage {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.course-details,
.course-info,
.learning-outcomes {
  margin-bottom: 20px;
}

.course-details h2,
.course-info h2,
.learning-outcomes h2 {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  font-size: 24px;
}

.course-details p {
  font-size: 16px;
  line-height: 1.5;
}

.course-info ul,
.learning-outcomes ul {
  list-style-type: none;
  padding: 0;
}

.course-info li,
.learning-outcomes li {
  margin-bottom: 10px;
}

.footer-container {
  text-align: center;
  padding: 40px 20px;
  background: #007bff;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  text-align: left;
  width: 30%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 16px;
  margin: 5px 0;
}

.footer-section a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  text-decoration: underline;
  color: #eeeeee;
}
.pay-button {
  margin: auto;
  background-color: hsl(170, 75%, 41%);
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  text-align: center;
}

.pay-button:hover {
  background-color: hsl(170, 75%, 41%);
}
